.aside{
    margin-top: 13px;
    margin-bottom: 40px;
    /* z-index: -100; */
}
aside>ul{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    border: 0.3px solid rgb(212, 209, 209);

}
.points>.aside>aside{
    background-color: rgb(255, 255, 255);
    width: 16vw;
    margin-top: -30px;
}

aside>ul>li{
    list-style: none;
    color: rgb(75, 74, 72);
    cursor: pointer;
    text-decoration: none;
}

aside>ul>li>b>Link{
    text-decoration: none;
}

.points{
    display: flex;
    flex-direction: row;
}

.points>.items{
    margin-left: 20px;
    margin-top: 20px;
}